@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.nav-item.active {
    background-color: rgba(0, 0, 0, 0.08);
    color: #000;
}

.nav-item .icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

@font-face {
  font-family: 'Bruno Ace SC';
  src: url('/Font/BrunoAceSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}